*{
    margin: 0%;
    padding: 0%;

}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.class{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 230px;
    height: 300px;
    background-color: antiquewhite;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;   
}
#card1{
    z-index: 4;
    background-color: rgb(1, 1, 13);
    
   
}
#card2{
    z-index: 3;
    rotate: -7deg;
    height: 280px;
    width: 210px;
    background-color: brown;
    
    
}
#card3{
    z-index: 2;
    height: 260px;
    width: 190px;
    rotate: -14deg;
    background-color: chartreuse;
}
#card4{
    z-index: 1;
    height: 240px;
    width: 170px;
    rotate: -21deg;
    background-color: rgb(160, 4, 92);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#card2:hover{
    z-index: 30;
}#card3:hover{
    z-index: 30;
}
#card4:hover{
    z-index: 30;
}


